/* 公共样式表css */
html,body {
    color: #333;
    margin: 0;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

body {
    background: #F4F5F9;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
}

/* 必要布局样式css */
.case-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.case-index-title {
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
}

.case-index-title h2 {
    font-size: 36px;
    font-family: pingfang,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-weight: normal;
}

.case-index-title a {
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DBDCE0;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 25px auto 0;
    transition: all .2s;
}

.case-index-title a:hover {
    background: #F96A69;
    border-color: #F96A69;
    color: #fff;
}

.case-index-content {
    position: relative;
}

.case-index-content ul {
    margin-right: -18px;
}

.case-example-item {
    float: left;
    width: 286px;
    height: 315px;
    overflow: hidden;
    margin: 0 18px 18px 0;
    text-align: center;
    background: #fff;
    position: relative;
    transition: all .2s;
}

.case-example-item a .case-pad {
    width: 286px;
    height: 180px;
}

.case-item-info {
    height: 135px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all .2s;
}
.case-info-logo {
    margin-top: 0;
    margin-bottom: 8px;
    height: 80px;
    transition: all .2s;
}

.case-info-title {
    font-size: 14px;
    color: #646466;
    margin-bottom: 35px;
}

.case-info-text {
    font-size: 14px;
    color: #666;
    padding: 0 30px;
    text-align: left;
    line-height: 1.8;
}

.case-index-content .case-example-item:hover .case-item-info {
    height: 315px;
}
