<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="css/personal.css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/personal.js"></script>
<title>个人中心-账户管理-修改密码</title>
</head>

<body>
<div class="header">
  <div class="headerMain">
    <div class="Notice">
      <span>公告：</span>
      <a href="">有实力就不怕平庸 如何离高薪更进一步</a>
    </div>
    <div class="Account">
      <div class="Left">
      <div class="Info">
        <font>[28421947]</font>
        <input type="button">
        <div id="InfoPopup">
          <ul>
            <li><a href="personal_updatepsd.html">修改密码</a></li>
            <li><a href="personal_updatenum.html">修改手机</a></li>
            <li><a href="personal_renzheng.html">修改邮箱</a></li>
            <li><a href="index.html">退出</a></li>
          </ul>
        </div>
      </div>
      </div>
      <div class="Left">
        <a class="Mobile" href="">手机版</a>
      </div>
      <div class="Left">
      <div class="Weixin">微信
        <div id="WeixinPopup">
          <img src="images/showqrcode.jpg" width="120" height="120">
          <p>扫一扫完成绑定<br>求职信息接收及时，<br>不再错过好工作！</p>
        </div>
	  </div>
      </div> 
      
    </div>
  </div>
</div>
<div class="navTop">
  <div class="navTopmain">
     <div class="logo"><a href="index.html"><img src="images/logo_1.png"/><img src="images/logo_2.png" /></a></div>
     <div class="nav">
        <div class="navItem"><a href="index.html">首页</a></div>
        <div class="navItem"><a href="searchJob.html">职位搜索</a></div>
        <div class="navItem"><a href="meetingJob.html">招聘会</a></div>
        <div class="navItem"><a href="">政府招考</a></div>
        <div class="navItem"><a href="">校园招聘</a></div>
        <div class="navItem other">
           <div style="position:relative;">
           <span>更多</span>
           <div id="TopNavMorePopup">
              <ul> 
                <li><a href="jobnews.html">就业资讯</a></li>
                <li><a href="download.html">文档下载</a></li>
                <li><a href="helpJob.html">求职互助</a></li>
              </ul>
          </div>
          </div>
        </div>
     </div>
  </div>
</div>
<div class="personalBody">
   <div class="perLeftnav">
      <div class="NavLeftTop">个人中心</div>
      <div class="NavLeftMain">
         <div class="NavLeftBox">
            <a href="personal.html" class="a1">会员首页</a>
         </div>
         <div class="NavLeftBox">
            <a href="personal_jl.html" class="a2">我的简历</a>
         </div>
         <div class="NavLeftBox">
            <a href="personal_zwss.html" class="a3">职位搜索</a>
         </div>
         <div class="NavLeftBox">
            <a href="personal_cai.html" class="a4">你的菜儿</a>
         </div>
         <div class="NavLeftBox twoNav">
            <a class="a5">职位申请</a>
            <span class="up"></span>
         </div>
         <ul>
           <li><a href="personal_sqzw.html">申请的职位</a></li>
           <li><a href="personal_mygz.html">我的关注</a></li>
         </ul>
         <div class="NavLeftBox twoNav">
            <a class="a6">企业邀约</a>
            <span class="up"></span>
         </div>
         <ul>
           <li><a href="personal_mainshi.html">面试通知</a></li>
           <li><a href="personal_yaoqing.html">应聘邀请</a></li>
           <li><a href="personal_whogz.html">谁在关注我</a></li>
           <li><a href="personal_goutong.html">在线沟通记录</a></li>
         </ul>
         <div class="NavLeftBox active">
            <a href="personal_zhanghu.html" class="a7">账户管理</a>
         </div>
         <div class="NavLeftBox">
            <a href="personal_help.html" class="a8">帮助中心</a>
         </div>
      </div>
      <div class="navLeftBottom">
         <span class="sys">扫一扫绑定微信</span><br />
         <img src="images/showqrcode.jpg" />
         <span class="Notice">蝶飞人才网<br>找工作更靠谱</span>
      </div>
   </div>
   <div class="perRightcon">
      <div class="commonTit">
         <h1>账户管理</h1>
      </div>
      <div class="TopNotice">
         <span>修改密码</span>
      </div>
      <div class="AccountMain">
         <div class="updatePsd">
            <div class="boxDiv">
                <span class="nametxt">原密码：</span>
                <input name="" type="text"/>
            </div>
            <div class="boxDiv">
                <span class="nametxt">新密码：</span>
                <input name="" type="text"/>
                <span class="SpNotice">请输入6-20个字符</span>
            </div>
            <div class="boxDiv">
                <span class="nametxt">确认新密码：</span>
                <input name="" type="text"/>
            </div>
            <div class="boxDiv">
                <a href="" class="updateBtn">确认修改</a>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="clear"></div>
<div class="footer">
   <p><a href="">**人才</a>旗下<img src="images/logo_foot.gif" />蝶飞人才网版权所有 <a href="">京ICP证0******9号</a><a href=""></a>本网站所有招聘信息，未经书面授权不得转载 投诉电话：400-8**-****</p>
</div>
</body>
</html>
