<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>职位搜索-高级搜索</title>
<link type="text/css" rel="stylesheet" href="../static/homeS/css/searchJob.css" />
    <link type="text/css" rel="stylesheet" href="../static/layui/css/layui.css" />
    <script type="text/javascript" src="../static/layui/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/homeS/js/searchJob.js"></script>

</head>

<body>
<div class="topDiv">
  <div class="topL">
     <div class="logo">
        <img src="../static/homeS/images/LOGO.png" />
        <img src="../static/homeS/images/view_logo40.png" class="img1"/>
     </div>
     <img src="../static/homeS/images/spirit_40.png" />
  </div>
  <div class="topR">
     <div class="topR0 topR1"><a href="zhuceCompany.html">企业招聘</a></div>
     <div class="topR0 topR2"><a href="zhuce.html">注册</a></div>
     <div class="topR0 topR3"><a href="login.html">个人登录</a></div>
     <div class="topR0 topR4"><a href="javascript:void()">手机找工作</a></div>
     <div class="clear"></div>
  </div>
</div>
<div class="menuDiv">
   <div class="mainWarp">
      <ul>
      <li><a href="index.html">首页</a></li>
      <li><a href="personal.html">个人中心</a></li>
      <li class="onmenu"><a href="searchJob.html">职位搜索</a></li>
      <li><a href="meetingJob.html">招聘会</a></li>
      <li><a href="jobnews.html">就业资讯</a></li>
      <li><a href="download.html">文档下载</a></li>
      <li><a href="helpJob.html">求职互助</a></li>
      <div class="clear"></div>
      </ul>
   </div>
</div>
<div class="clear"></div>
<div class="menuLittle">
   <div class="menuselect"><a href="searchJob.html" class="on">高级搜索</a></div>
   <div class="menuselect"><a href="searchJob_map.html">地图搜索</a></div>
   <div class="menuselect"><a href="searchJob_new.html">最新职位</a></div>
   <div class="menuselect"><a href="searchJob_hot.html">热门搜索</a></div>
   <div class="menuselect"><a href="searchJob_jianzhi.html">兼职招聘</a></div>
   <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="searchDiv">
  <div class="search1">
    <div class="sea1_1">
       <input name="" type="text" placeholder="请填写关键词或选择职位" class="keyword"/>
       <span class="jiantou"></span>
    </div>
    <div class="sea1_2">
       <input name="" type="text" placeholder="广东省" class="addtxt"/>
    </div>
    <div class="sea1_3">
       <input name="" type="text" placeholder="请选择行业" class="hytxt"/>
    </div>
    <div class="sea1_4">
       <a href="javascript:void()">搜工作</a>
    </div>
  </div>
    <form class="layui-form">

            <div class="layui-inline">
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">工作地点 ：</label>
                    <div class="layui-input-inline">
                        <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                            <option value="9">~</option>
                            <option value="9">福州</option>
                            <option value="0">泉州</option>
                            <option value="1">漳州</option>
                            <option value="2">厦门</option>
                            <option value="3">温州</option>
                            <option value="4">绍兴</option>
                            <option value="4">宁波</option>
                        </select>
                    </div>
                </div>
             </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">月薪范围 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="0">~</option>
                        <option value="1">1K</option>
                        <option value="3">3K</option>
                        <option value="5">5K</option>
                        <option value="6">6K</option>
                        <option value="7">7K</option>
                        <option value="8">8K</option>
                        <option value="10">10K</option>
                        <option value="15">15K</option>
                        <option value="20">20K</option>
                        <option value="21">面议</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    zhi
                </div>

                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="0">~</option>
                        <option value="1">1K</option>
                        <option value="3">3K</option>
                        <option value="5">5K</option>
                        <option value="6">6K</option>
                        <option value="7">7K</option>
                        <option value="8">8K</option>
                        <option value="10">10K</option>
                        <option value="15">15K</option>
                        <option value="20">20K</option>
                    </select>
                </div>

                <label class="layui-form-label">学历要求 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="9">~</option>
                        <option value="0">小学</option>
                        <option value="1">初中</option>
                        <option value="2">高中、中技、中专</option>
                        <option value="3">大专</option>
                        <option value="4">本科</option>
                        <option value="4">硕士</option>
                        <option value="4">博士</option>
                        <option value="4">不限</option>
                    </select>
                </div>
            </div>

                <div class="layui-form-item">
                <label class="layui-form-label">工作年限 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="9">~</option>
                        <option value="0">不限</option>
                        <option value="4">应届毕业生</option>
                        <option value="1">1~2年</option>
                        <option value="2">3~5年</option>
                        <option value="3">6~10年</option>
                        <option value="4">10年以上</option>
                    </select>
                </div>

                <label class="layui-form-label">工作性质 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="9">~</option>
                        <option value="0">全职</option>
                        <option value="4">兼职</option>
                        <option value="1">实习</option>
                    </select>
                </div>
                </div>

                <div class="layui-form-item">
                <label class="layui-form-label">企业规模 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="9">~</option>
                        <option value="0">少于50人</option>
                        <option value="4">50~100人</option>
                        <option value="1">101~200人</option>
                        <option value="2">201~500人</option>
                        <option value="3">501~1000人</option>
                        <option value="4">1000人以上</option>
                    </select>
                </div>

                <label class="layui-form-label">企业答复率 ：</label>
                <div class="layui-input-inline">
                    <select name="state" lay-search="" lay-verify="required" lay-filter="state" id="state">
                        <option value="9">~</option>
                        <option value="0">50%</option>
                        <option value="4">60%</option>
                        <option value="1">70%</option>
                        <option value="2">80%</option>
                        <option value="3">90%</option>
                        <option value="4">100%</option>
                    </select>
                </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">福利待遇：</label>
                    <div class="layui-input-block">
                        <input name="like1[write]" title="保险" type="checkbox" checked="" lay-skin="primary">
                        <input name="like1[read]" title="公积金" type="checkbox" lay-skin="primary">
                        <input name="like1[game]" title="奖金提成"type="checkbox" lay-skin="primary">
                        <input name="like1[me]" title="双休"  type="checkbox" lay-skin="primary">
                        <input name="like1[ge]" title="八小时工作制"  type="checkbox" lay-skin="primary">
                        <input name="like1[gam]" title="提供住宿"  type="checkbox" lay-skin="primary">
                    </div>
                </div>
        <button class="layui-btn" type="submit" lay-filter="demo1" lay-submit="">立即提交</button>

    </form>
</div>
<div class="clear"></div>
<div class="seachlist">
   <div class="listtop">
      <div class="tj1">
         <span class="list on">列表</span>
         <span class="zhaoyao">摘要</span>
      </div>
      <div class="tj2">
         <input name="" type="checkbox" value="" />
         <span>只显示在线 </span>
      </div>
      <div class="tj2">
         <input name="" type="checkbox" value="" />
         <span>只显示有环境照片 </span>
      </div>
      <div class="tj3">
         <span>共1141条  第1/39页</span>
      </div>
   </div>
   <div class="clear"></div>
   <div class="listcon">
      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="listtab">
         <thead>
           <tr>
              <th width="24%" style="padding-left:17px">职位名称</th>
              <th width="30%">企业名称</th>
              <th width="8%">企业答复率</th>
              <th width="16%">工作地点</th>
              <th width="8%">薪水</th>
              <th width="10%">刷新时间</th>
           </tr>
         </thead>
         <tbody>
           <tr>
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname"><img src="../static/homeS/images/Top.gif" />后勤文员<img src="../static/homeS/images/qq.gif" /></a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">广东同源科技发展有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td><font style="color: red">100.0%</font></td>
              <td>广东佛山南海区</td>
              <td><span>2.5K-3.5K</span></td>
              <td>1小时</td>
           </tr>
           <tr class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span class="ygz">已关注</span>
                 </div>
              </td>
           </tr>
           <tr style="background: rgb(247, 248, 250)">
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">国际贸易专员<img src="../static/homeS/images/qq.gif" /></a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>刚刚</td>
           </tr>
           <tr style="background: rgb(247, 248, 250)" class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr>
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">外贸业务员</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>刚刚</td>
           </tr>
           <tr class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr style="background: rgb(247, 248, 250)">
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">家具设计师</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>刚刚</td>
           </tr>
           <tr style="background: rgb(247, 248, 250)" class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr>
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">项目客户代表<img src="../static/homeS/images/qq.gif" /></a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr style="background: rgb(247, 248, 250)">
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">项目客户代表</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr style="background: rgb(247, 248, 250)" class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr>
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">车险续约客服</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr style="background: rgb(247, 248, 250)">
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">项目编写专员</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr style="background: rgb(247, 248, 250)" class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr>
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">电话客服<img src="../static/homeS/images/qq.gif" /></a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
           <tr style="background: rgb(247, 248, 250)">
              <td>
                 <input name="" type="checkbox" value="" />
                 <a href="javascript:void()" class="jobname">跟单人员</a>
              </td>
              <td>
                 <div class="company">
                    <a href="javascript:void()">深圳市鼎润轻纺进出口有限公司</a>
                    <span><img src="../static/homeS/images/16.png" /></span>
                 </div>
              </td>
              <td></td>
              <td>广东深圳福田区</td>
              <td>3.5K-6K</td>
              <td>30分钟</td>
           </tr>
           <tr style="background: rgb(247, 248, 250)" class="xxdetail none">
              <td colspan="5">
                 <div class="yaoqiu">学历要求：中专 | 工作经验：1~2年 | 公司规模：少于50人 | 招聘方式：全职<br /> 
岗位职责：1、 负责公司资产管理、办公用品采购及劳保用品的管理工作,避免公司资产流失和浪费； 2、 负责书刊资料印刷、快递、物流及办公室的其他事情； 3、 ...<br /> 
岗位要求：1、1年以上行政工作经验； 2、熟悉行政工作流程，办公用品采购流程，企业资产管理； 3、较强的责任心和敬业精神，良好的组织协调能力及沟通能力，较...</div>
              </td>
              <td>
                 <div class="applydiv">
                    <a href="" class="ljsqbtn">立即申请</a>
                    <span>关注</span>
                 </div>
              </td>
           </tr>
         </tbody>
      </table>
   </div>
   <div class="clear"></div>
   <div class="listbottom">
      <div class="lb1">
         <input name="" type="checkbox" value="" />
         <span>全选</span>
      </div>
      <div class="lb2">
         <a href="javascript:void()">浏览职位</a>
         <a href="javascript:void()" class="sqzw">申请职位</a>
         <a href="javascript:void()">关注职位</a>
      </div>
      <div class="lb3"><span>共1141条  第1/39页</span></div>
   </div>
   <div class="clear"></div>
   <div class="fenyediv">
      <a href="javascript:void()" class="fy1">首页</a>
      <a href="javascript:void()" class="fy1">上一页</a>
      <a href="javascript:void()" class="fy2 on">1</a>
      <a href="javascript:void()" class="fy2">2</a>
      <a href="javascript:void()" class="fy2">3</a>
      <a href="javascript:void()" class="fy2">4</a>
      <a href="javascript:void()" class="fy2">5</a>
      <a href="javascript:void()" class="fy2">6</a>
      <a href="javascript:void()" class="fy2">7</a>
      <a href="javascript:void()" class="fy2">8</a>
      <a href="javascript:void()" class="fy2">9</a>
      <a href="javascript:void()" class="fy2">10</a>
      <a href="javascript:void()" class="fy1">下一页</a>
      <a href="javascript:void()" class="fy1">尾页</a>      
   </div>
   <div class="clear"></div>
   <div class="RegionSearch">
      <div class="title">
         <span>你也许还对这些感兴趣</span>
      </div>
      <div class="RegionList">
         <a href="javascript:void()">广州招聘</a>
         <a href="javascript:void()">深圳招聘</a>
         <a href="javascript:void()">珠海招聘</a>
         <a href="javascript:void()">汕头招聘</a>
         <a href="javascript:void()">韶关招聘</a>
         <a href="javascript:void()">河源招聘</a>
         <a href="javascript:void()">梅州招聘</a>
         <a href="javascript:void()">惠州招聘</a>
         <a href="javascript:void()">汕尾招聘</a>
         <a href="javascript:void()">东莞招聘</a>
         <a href="javascript:void()">中山招聘</a>
         <a href="javascript:void()">江门招聘</a>
         <a href="javascript:void()">佛山招聘</a>
         <a href="javascript:void()">阳江招聘</a>
         <a href="javascript:void()">湛江招聘</a>
         <a href="javascript:void()">茂名招聘</a>
         <a href="javascript:void()">肇庆招聘</a>
         <a href="javascript:void()">清远招聘</a>
         <a href="javascript:void()">潮州招聘</a>
         <a href="javascript:void()">揭阳招聘</a>
         <a href="javascript:void()">云浮招聘</a>
      </div>
   </div>
</div>
<div class="clear"></div>
<div class="footer">
   <p><a href="">**人才</a>旗下<img src="../static/homeS/images/logo_foot.gif" />蝶飞人才网版权所有 <a href="">京ICP证0******9号</a><a href=""></a>本网站所有招聘信息，未经书面授权不得转载 投诉电话：400-8**-****</p>
</div>
</body>
</html>
